@import "tailwindcss";

body {
    background-color: #111111;
    color: #ef4444; /* Changed base text to Tailwind red-500 for non-styled elements */
    font-family:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
